body {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    background-color: #1c1d25;
    color: white;
}

.header {
    background-color: #676878;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
}

#title {
    width: 100%;
    margin: 0;
    margin-left: 5px;
}

#profile-picture {
    width: 45px;
    border-radius: 200px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    align-self: center;
    float: right;
}